<div id="allscheme" class="kenburns-top">
<app-appheader></app-appheader>

<div class="container mt-5">

    <div class="search-hero">
        <input class="form-control w-25" type="text" name="search" [(ngModel)]="searchtext" autocomplete="off"
            placeholder="Search">
    </div>
    <div class="card mt-5" *ngFor="let slist of allschemelist | filter:searchtext">
        <div class="card-body">
            <div class="form-group">
                <h3 class="card-text d-inline text-danger">{{slist.schemetitle | titlecase}}</h3>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <h6 class="card-title d-inline text-justify">Scheme Description:</h6>
                <div class="text-break card-text  mx-1 d-inline">{{slist.schemedesc}}</div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <h6 class="card-title d-inline">Scheme For:</h6>
                <div class="card-text d-inline mx-1">{{slist.usertype | titlecase}}</div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <h6 class="card-title d-inline">Gender:</h6>
                <div class="card-text d-inline mx-1">{{slist.gender | titlecase}}</div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <h6 class="card-title d-inline">Caste:</h6>
                <div class="card-text d-inline mx-1">{{slist.caste | titlecase}}</div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <h6 class="card-title d-inline">Age Criteria:</h6>
                <div class="card-text d-inline mx-1">{{"Between "+ slist.startage+ " to "+ slist.endage}} Years</div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <h6 class="card-title d-inline">Maritial Status:</h6>
                    <div class="card-text d-inline mx-1">{{slist.maritialstatus | titlecase}}</div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <h6 class="card-title d-inline text-justify">Documents Required:</h6>
                <div class="text-break card-text  mx-1 d-inline">{{slist.docs | titlecase}}</div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <h6 class="card-title d-inline text-justify">Status:</h6>
                <div class="text-break card-text  mx-1 d-inline">{{slist.status | titlecase}}</div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <a href="" class="btn btn-primary" [routerLink]="(['/memberlogin'])">Apply</a>
            </div>
        </div>
    </div>
</div>
</div>
