<div class="container-fluid">
    <app-appheader></app-appheader>
    <div class="card my-4">
        <div class="card-body">
            
                <h5 class="card-title">Anila Yojane</h5>
                <p class="card-text"> National Biogas Manure and Management Programme is a Centrally
                    Sponsored Scheme being implemented since 1982-83. This is mainly 100% women programme. Biogas is a
                    clean, non-polluting, smoke and soot-free fuel, containing methane gas produced from cattle dung,
                    human waste and organic matter in a biogas plant through a process called anaerobic digestion. The
                    digestion slurry can be used as a good quality manure in agricultural fields. </p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Mahatma Gandhi National Rural Employment Guarantee Act Scheme</p>
                <footer class="blockquote-footer">The Mahatma Gandhi National Rural Employment Guarantee Scheme (MNREGS) is Indian legislation enacted on August 25, 2005.
                    The MGNREGA provides a legal guarantee for one hundred days of employment in every financial year to adult members of any rural
                    household willing to do public work-related unskilled manual work at the statutory minimum wage. The Ministry of Rural Development (MRD),
                    Govt of India is monitoring the entire implementation of this scheme in association with state governments.
                    <br>
                    <br>
                    <p>MGNREGA Goals:</p>
                    
                    Strong social safety net for the vulnerable groups by providing a fall-back employment source, when other employment alternatives are scarce or inadequate.
                    Growth engine for sustainable development of an agricultural economy. Through the process of providing employment on works that address causes of chronic poverty such as drought, deforestation and soil erosion, the Act seeks to strengthen the natural resource base of rural livelihood and create durable assets in rural areas. Effectively implemented, MGNREGA has the potential to transform the geography of poverty.
                    Empowerment of rural poor through the processes of a rights-based Law.
                    New ways of doing business, as a model of governance reform anchored on the principles of transparency and grass root democracy Thus, MGNREGA fosters conditions for inclusive growth ranging from basic wage security and recharging rural economy to a transformative empowerment process of democracy.
                    <br>
                    <br>
                    <p>Beneficiary:&nbsp;<span>Rural agriculture labour</span></p>
                    <br>
                    <p>Benefits:&nbsp;<span>Employment generation</span></p>
                    <br>
                    <p>How To Apply:&nbsp;<a href="http://nrega.nic.in/netnrega/home.aspx">http://nrega.nic.in/netnrega/home.aspx</a></p>
                </footer>
            </blockquote>
        </div>
    </div>
</div>