<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 mt-5">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h6>
                        Add Scheme
                    </h6>

                </div>
                <!-- <form  class="emp-form" #cropForm="ngForm" > -->
                <div class="card-body">
                    <div class="form-row">

                        <div class="form-group mt-3">
                            <label class="form-label">Select Scheme Type:</label>
                            <select [(ngModel)]="model.usertype" class="form-select" name="usertype">
                                <option *ngFor="let items of usertypelist" [value]="items.usertype">{{items.usertype | titlecase}}
                                </option>
                            </select>
                            <small class="help-block text-danger" *ngIf="isusertype">Select User Type</small>
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Select Caste:</label>
                            <select [(ngModel)]="model.caste" class="form-select" name="caste">
                                <option *ngFor="let caste of castelist" [value]="caste.caste">{{caste.caste | titlecase}}
                                </option>
                                 </select>
                            <small class="help-block text-danger" *ngIf="iscaste">Select Caste</small>
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Select Gender:</label>
                            <select [(ngModel)]="model.gender" class="form-select" name="gender">
                                <option *ngFor="let glist of gender" [value]="glist.types">{{glist.types | titlecase}}
                                </option>
                            </select>
                            <small class="help-block text-danger" *ngIf="isgender">Select Gender</small>
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Select Maritial Status:</label>
                            <select [(ngModel)]="model.maritialstatus" class="form-select" name="maritialstatus">
                                <option *ngFor="let mlist of mstatus" [value]="mlist.type">{{mlist.type | titlecase}}
                                </option>
                            </select>
                            <small class="help-block text-danger" *ngIf="ismaritialstatus">Select Maritial Status</small>
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Enter Start Age Criteria:</label>
                            <input type="text" class="form-control" name="startage" [(ngModel)]="model.startage"/>
                            <small class="help-block text-muted">For All Age type 'all'(in small letter)</small><br>
                            <small class="help-block text-danger" *ngIf="isage">Enter Start Age</small>
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Enter End Age Criteria:</label>
                            <input type="text" class="form-control" name="endage" [(ngModel)]="model.endage"/>
                            <small class="help-block text-muted">For All Age type 'all'(in small letter)</small><br>
                            <small class="help-block text-danger" *ngIf="isendge">Enter End Age</small>
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Enter Scheme Title:</label>
                            <input type="text" class="form-control" name="schemetitle" [(ngModel)]="model.schemetitle"
                                required />
                                <small class="help-block text-danger" *ngIf="isschemetitle">Enter Scheme Title</small>

                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Enter Scheme Description:</label>
                            <textarea class="form-control" name="schemedescription"
                                [(ngModel)]="model.schemedesc"></textarea>
                            <small class="help-block text-danger" *ngIf="isschemedesc">Enter Scheme Description</small>

                        </div>
                         <div class="form-group mt-3">
                            <label class="form-label">Documents Required:</label>
                            <textarea class="form-control" name="docs"
                                [(ngModel)]="model.docs"></textarea>
                                <small class="help-block text-muted">For multiple entry use comma (,)</small><br>
                                <small class="help-block text-danger" *ngIf="isdocs">Enter Documents Required</small>
                         </div>
                         <div class="form-group mt-3" *ngIf="isshow">
                            <label class="form-label">Select Scheme Status</label>
                            <select [(ngModel)]="model.status" class="form-select" name="status">
                                <option *ngFor="let sstatus of schemestatus" [value]="sstatus.types">{{sstatus.types | titlecase}}
                                </option>
                            </select>
                            <small class="help-block text-danger" *ngIf="isstatus">Select Scheme Status</small>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="form-row py-2">
                        <div class="form-group ">
                            <button type="submit" class="btn btn-primary float-end" (click)="OnSubmit()">Add
                                Scheme</button>
                        </div>
                        <br>
                        <div class="form-group">
                            <h2 [style.color]="flag?'green':'red'">{{errormessage}}</h2>
                        </div>
                    </div>
                </div>
                <!-- </form> -->
            </div>
        </div>
        <div class="col-lg-10 offset-lg-1 mt-5 mb-5">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">
                        Added Schemes
                    </h5>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Scheme ID</th>
                                <th scope="col">Scheme Type</th>
                                <th scope="col">Age</th>
                                <th scope="col">Caste</th>
                                <th scope="col">Maritial Status</th>
                                <th scope="col">Scheme Title</th>
                                <th scope="col">Scheme Description</th>
                                <th scope="col">Docs Required</th>
                                <th scope="col">Status</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let slist of allschemelist">
                                <td>{{slist.schemeid}}</td>
                                <td>{{slist.usertype | titlecase}}</td>
                                <td>{{"Between "+slist.startage+" to "+slist.endage}}</td>
                                <td>{{slist.caste | titlecase}}</td>
                                <td>{{slist.maritialstatus | titlecase}}</td>
                                <td>{{slist.schemetitle | titlecase}}</td>
                                <td><textarea class="form-control" readonly>{{slist.schemedesc}}</textarea></td>
                                <td><textarea class="form-control" readonly>{{slist.docs}}</textarea></td>
                                <td>{{slist.status | titlecase}}</td>
                                <td><a class="btn btn-primary" (click)="Edit(slist)">Edit</a> </td>
                                <td><a class="btn btn-primary" (click)="Delete(slist)">Delete</a> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>