<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header text-center text-white bg-secondary">
                <h2 class="card-heading">
                    Govt Schemes
                </h2>
            </div>
            <!-- <div class="card-body home-bg py-0 px-auto"> -->
                <div class="row bg-warning">
                    <div class="col-lg-6">
                        <nav class="nav">
                            <a class="nav-link active" aria-current="page" [routerLink]="['']">Home</a>
                            <a class="nav-link" [routerLink]="['/allschemes']">Govt Schemes</a>
                            <a class="nav-link" [routerLink]="['/aboutus']">About Us</a>
                            <a class="nav-link" [routerLink]="['/contactus']">Contact Us</a>
                        </nav>
                    </div>
                    <div class="col-lg-6">
                        <nav class="nav justify-content-end">
                            <a class="nav-link" aria-current="page" [routerLink]="['/adminlogin']">Admin
                                Login</a>
                            <a class="nav-link" [routerLink]="['/memberlogin']">Member Login</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->