<div class="contanier-fluid">
    <div class="card">
        <div class="card-header">
            <h5>All Members</h5>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Member ID</th>
                    <th scope="col">Password</th>
                    <th scope="col">Member Name</th>
                    <th scope="col">User Type</th>
                    <th scope="col">Age</th>
                    <th scope="col">Caste</th>
                    <th scope="col">Maritial Status</th>
                    <th scope="col">Address</th>
                    <th scope="col">Aadhaar No.</th>
                    <th scope="col">Mobile No.</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let mlist of memberlist">
                    <td>{{mlist.memberid}}</td>
                    <td>{{mlist.password}}</td>
                    <td>{{mlist.name}}</td>
                    <td>{{mlist.usertype}}</td>
                    <td>{{mlist.age}}</td>
                    <td>{{mlist.caste}}</td>
                    <td>{{mlist.maritialstatus}}</td>
                    <td>{{mlist.address}}</td>
                    <td>{{mlist.aadhaarno}}</td>
                    <td>{{mlist.phoneno}}</td>
                    <td><a class="btn btn-primary" (click)="Showdata(mlist)">Edit</a> </td>
                    <td><a class="btn btn-primary" (click)="Delete(mlist)">Delete</a> </td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="card-footer">
          <!-- <div class="form-group"> -->
            <h4 [style.color]="flag?'green':'red'">{{statusmsg}}</h4>
          <!-- </div> -->
        </div>
    </div>
</div>
<div class="col-6 my-5" *ngIf="hide">
  <div class="card">
      <div class="card-header bg-info">
          <div class="card-title">Edit Member</div>
      </div>
  <div class="card-body">

  <div class="form-group">
    <label for="id" class="form-label">Member ID :</label>
    <input type="text" class="form-control" id="queryid" [(ngModel)]="model.memberid" disabled >
  </div>
  <div class="form-group">
    <label for="name" class="form-label">Name :</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="model.name" placeholder="Enter Name">
  </div>
  
  <div class="form-group">
    <label class="form-label">Select User Type:</label>
    <select [(ngModel)]="model.usertype" class="form-select" name="city">
        <option *ngFor="let items of usertypelist" [value]="items.usertype">{{items.usertype}}
        </option>
    </select>
</div>
<div class="form-group">
  <label class="form-label">Select Caste:</label>
  <select [(ngModel)]="model.caste" class="form-select" name="caste">
      <option *ngFor="let caste of castelist" [value]="caste.caste">{{caste.caste}}
      </option>
  </select>
</div>
<div class="form-group">
  <label class="form-label">Select Maritial Status:</label>
  <select [(ngModel)]="model.maritialstatus" class="form-select" name="maritialstatus">
      <option *ngFor="let mlist of mstatus" [value]="mlist.type">{{mlist.type}}
      </option>
  </select>
</div>
<div class="form-group">
  <label for="age" class="form-label">Age :</label>
  <input type="text" class="form-control" id="age" [(ngModel)]="model.age" placeholder="Enter Age">
</div>
  <div class="form-group">
    <label for="address" class="form-label">Address :</label>
    <input type="text" class="form-control" id="address" [(ngModel)]="model.address" placeholder="Enter Address">
  </div>
  <div class="form-group">
    <label for="aadharno" class="form-label">Aadhaar Number :</label>
    <input type="text" class="form-control" id="aadhaarno" [(ngModel)]="model.aadhaarno" placeholder="Enter Adhaar Number">
  </div>
  <div class="form-group">
    <label for="mobno" class="form-label">Mobile Number :</label>
    <input type="text" class="form-control" id="phoneno" [(ngModel)]="model.phoneno" placeholder="Enter Mobile Number">
  </div>

</div>
<div class="card-footer">
  <button class="btn btn-primary float-end" (click)="Edit()">Update</button>
  <h2 [style.color]="flag?'green':'red'">{{statusmsg}}</h2>
</div>

</div>
</div>
