<div class="container mt-5">

    <div class="search-hero">
        <input class="form-control w-25" type="text" name="search" [(ngModel)]="searchtext" autocomplete="off"
            placeholder="Search">
    </div>
    <div class="card my-5" *ngFor="let slist of allschemelist | filter:searchtext">
        <div class="card-body">
            <div class="form-group">
                <h3 class="card-text d-inline text-danger">{{slist.schemetitle | titlecase}}</h3>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <h6 class="card-title d-inline text-justify">Scheme Description:</h6>
                <div class="text-break card-text  mx-1 d-inline">{{slist.schemedesc}}</div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <h6 class="card-title d-inline">Scheme For:</h6>
                <div class="card-text d-inline mx-1">{{slist.usertype | titlecase}}</div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <h6 class="card-title d-inline">Gender:</h6>
                <div class="card-text d-inline mx-1">{{slist.gender | titlecase}}</div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <h6 class="card-title d-inline">Caste:</h6>
                <div class="card-text d-inline mx-1">{{slist.caste | titlecase}}</div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <h6 class="card-title d-inline">Age Criteria:</h6>
                <div class="card-text d-inline mx-1">{{"Between "+ slist.startage+ " to "+ slist.endage}} Years</div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <h6 class="card-title d-inline">Maritial Status:</h6>
                    <div class="card-text d-inline mx-1">{{slist.maritialstatus | titlecase}}</div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <h6 class="card-title d-inline text-justify">Documents Required:</h6>
                <div class="text-break card-text  mx-1 d-inline">{{slist.docs | titlecase}}</div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <h6 class="card-title d-inline text-justify">Status:</h6>
                <div class="text-break card-text  mx-1 d-inline">{{slist.status | titlecase}}</div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <a class="btn btn-primary ms-2" id="query" (click)="ShowData(slist)">Ask Doubt</a>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf=hide id="replysection" #mySection>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="title" class="form-label">Scheme Title :</label>
                    <input type="text" class="form-control" id="query" [(ngModel)]="model.schemetitle" disabled="true">
                </div>
                <div class="form-group">
                    <label for="name" class="form-label">Post Your Query :</label>
                    <textarea class="form-control" id="query" [(ngModel)]="model.query" placeholder="Enter You Query Here"></textarea>
                </div>
            </div>
            <div class="card-footer">
                 <button class="btn btn-primary float-end" (click)="SubmitQuery()">Submit Query</button>
            </div>

        </div>
    </div>
</div> 
