<div class="container my-5">

    <div class="search-hero">
        <input class="form-control w-25" type="text" name="search" [(ngModel)]="searchtext" autocomplete="off"
            placeholder="Search">
    </div>
    <div class="card my-5" *ngFor="let slist of allschemelist | filter:searchtext">
        <!-- <div class="card-body">
        <div class="form-group">
            <h6 class="card-title">Scheme Id</h6>
            <div class="card-text">{{slist.schemeid}}</div>
        </div>
        </div> -->
        <div class="card-body">
            <div class="form-group">
                <!-- <h6 class="card-title d-inline">Scheme Title:</h6> -->
                <h3 class="card-text d-inline text-danger">{{slist.schemetitle}}</h3>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <h6 class="card-title d-inline">Scheme For:</h6>
                <div class="card-text d-inline mx-1">{{slist.usertype}}</div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <h6 class="card-title d-inline text-justify">Scheme Description:</h6>
                <div class="text-break card-text  mx-1 d-inline">{{slist.schemedesc}}</div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <h6 class="card-title d-inline text-justify">Documents Required:</h6>
                <div class="text-break card-text  mx-1 d-inline">{{slist.docs}}</div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <a href="" class="btn btn-primary">Apply</a>
                <a href="" class="btn btn-primary ms-2">Ask Doubt</a>
            </div>
        </div>
    </div>
</div>
