<div class="container-fluid">
    <div class="col" style="width:85%" >
        <h2 class="text-center mb-4" style="margin-left:10%">All Applications</h2>
        <div class="table bg-secondary" style="margin-left:8%">
            <thead>
                <tr>
                    <th scope="col">Application ID</th>
                    <th scope="col">Member ID</th>
                    <th scope="col">Applicant Name</th>
                    <th scope="col">Scheme ID</th>
                    <th scope="col">Scheme Title</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Download</th>
                    <th scope="col">Download</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngFor="let list of applist">
                    <td>{{list.applicationid}}</td>
                    <td>{{list.memberid}}</td>
                    <td>{{list.name}}</td>
                    <td>{{list.schemeid}}</td>
                    <td>{{list.schemetitle}}</td>
                    <td>{{list.appstatus}}</td>
                    <td><a class="btn btn-primary" (click)="Approve(list)">Approve</a> </td>
                    <td><a class="btn btn-primary" (click)="Reject(list)">Reject</a> </td>
                    <td><a class="btn btn-light" (click)="DownloadImage(list)">Image</a> </td>
                    <td><a class="btn btn-light" (click)="DownloadAadhaar(list)">Aadhaar</a> </td>
                </tr>
            </tbody>
        </div>
    </div>
</div>